.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.game-window {
  margin: 20px;
  display: flex;
}