.PlayerStatsList {
  display: flex;
  align-items: space-between;
  justify-content: space-around;
  flex-direction: column;

  font-size: 0.7rem;
  width: 200px;
  padding: 0 1rem;
  border: 1px solid #fff;
  color: #fff;
}

.PlayerStatsList h4 {
  width: 100%;
  margin-bottom: 4px;
}

.PlayerStatsList li {
  text-align: center;
}

.PlayerStatsList p {
  font-size: .5rem;
}