@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: #fff;
}

body {
  background: #070707;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.4rem;
  }
}